<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ReflectionAddIns" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DLLAddIns" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ScriptAddIns" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <ReflectionAddIns>
    <add key="Sqrt" value="System.Math.Sqrt"/>
  </ReflectionAddIns>
  <DLLAddIns>
    <add key="N!" value="FactorialAddIn.FactorialFunc,FactorialAddIn"/>
  </DLLAddIns>
  <ScriptAddIns>
    <add key="Logistic" value="double logistic(double v) { return 1/(1 + Math.Exp(-v)); }"/>
  </ScriptAddIns>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
